template(name='storyItem')
  .ui.segment.story.preview(id=_id class=cssClass)
    .ui.grid
      .three.wide.column.feed-name.story-title
        .ui.star.rating(data-rating=isFaved data-id=_id)
          i.icon
        {{feedName}}
      .thirteen.wide.column.preview-story.story-title
        strong {{title}}
        span.preview-text
          — {{{previewText}}}
      .sixteen.wide.column.full-text
        {{{description}}}
      .twelve.wide.column.full-text
        {{formattedPubDate}}
      .four.wide.column.full-text
        .ui.checkbox
          input.keep-unread(type='checkbox' checked=keepUnread id=keepUnreadId)
          label(for=keepUnreadId)
            {{_ 'story_item_keep_unread'}}
        a.ui.basic.button.story-link(href=link target='_blank')
          i.external.icon
          {{_ 'story_item_follow'}}
